<form >
    <div>
        <label>Nombre: </label>
        <input type="text" />
    </div>
 
 
    <div>
        <label>Descripción: </label>
        <textarea ></textarea>   
    </div>
 
 
    <div>
        <label>Tipo: </label>
    <select>
        <option value="">Seleccione un tipo</option>
        <option value="Cultural">Cultural</option>
        <option value="Concierto">Concierto</option>
        <option value="Teatro">Teatro</option>
        <option value="Deportivo">Deportivo</option>       
    </select>
    </div>
 
 
    <div>
        <label>Dirección: </label>
        <input type="text" />
    </div>
 
 
    <div>
        <label>Ciudad: </label>
        <input type="text" />
    </div>
 
 
    <div>
        <label>Imagen evento: </label>
        <input type="file" />
    </div>
 
 
    <div>
        <label>Imagen localidades: </label>
        <input type="file" />
    </div>
 
 
    <button type="submit" >Crear evento</button>
 </form>