.card {
  background-color: #f8f9fa;
  border-radius: 8px;
}

.card-header {
  background-color: #46719f;
  color: white;
}

.card-body {
  padding: 30px;
}

button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}
