<div [id]="id" class="carousel slide custom-carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let evento of eventos; let i = index"
      [class.active]="i === 0"
    >
      <img [src]="evento.imagenPoster" class="d-block w-100 carousel-image" [alt]="evento.nombre" />

      <div class="carousel-caption">
        <h5>{{ evento.nombre }}</h5>
        <p>{{ evento.descripcion }}</p>
        <button class="btn btn-primary" (click)="navegarADetalle(evento.idEvento)">Ver Detalles</button>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev custom-control"
    type="button"
    [attr.data-bs-target]="'#' + id"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next custom-control"
    type="button"
    [attr.data-bs-target]="'#' + id"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
