<div class="container detalle-evento-container" *ngIf="evento">
  <!-- Imagen de portada y descripción -->
  <div class="row evento-imagen-descripcion align-items-center">
    <div class="col-md-6">
      <img [src]="evento.imagenPoster" alt="Imagen del evento" class="img-fluid evento-imagen rounded">
    </div>
    <div class="col-md-6">
      <h1 class="display-4">{{ evento.nombre }}</h1>
      <p class="lead">{{ evento.descripcion }}</p>
    </div>
  </div>

  <!-- Información General del Evento -->
  <div class="evento-detalles my-4">
    <h2 class="text-primary">INFORMACIÓN GENERAL</h2>
    <p><strong>Tipo:</strong> {{ evento.tipoEvento }}</p>
    <p><strong>Estado:</strong> {{ evento.estadoEvento }}</p>
  </div>

  <!-- Subeventos -->
  <div *ngIf="evento?.subEventos?.length" class="evento-subeventos my-4">
    <h2 class="text-primary">Subeventos</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let subevento of evento?.subEventos">
        <div class="card mb-3" [class.border-primary]="subevento === selectedSubEvento"
          (click)="seleccionarSubEvento(subevento)">
          <!-- Imagen de la localidad -->
          <img [src]="getLocalidadInfo(subevento.localidad)?.imageLocalidad"
            class="card-img-top img-fluid localidad-imagen">

          <div class="card-body">
            <h5 class="card-title">{{ subevento.localidadNombre || subevento.localidad }} - {{getLocalidadInfo(subevento.localidad)?.ciudades}}</h5>
            <p class="card-text">Fecha: {{ subevento.fechaEvento | date: 'dd/MM/yyyy' }} - Hora: {{ subevento.horaEvento
              }}</p>
            <p><strong>Cantidad de Entradas:</strong> {{ subevento.cantidadEntradas }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Control de cantidad de entradas fuera de subeventos -->
  <div class="evento-acciones text-center mt-4" *ngIf="selectedSubEvento">
    <h3>Cantidad de Entradas: {{ cantidadEntradas }}</h3>
    <div class="d-flex justify-content-center">
      <button (click)="disminuirEntradas($event)" class="btn btn-sm btn-outline-secondary mx-2"><i
          class="fas fa-minus"></i></button>
      <button (click)="aumentarEntradas($event)" class="btn btn-sm btn-outline-secondary mx-2"><i
          class="fas fa-plus"></i></button>
    </div>
  </div>

  <!-- Botones de acción -->
  <div class="evento-acciones text-center mt-4">
    <button (click)="comprarEntrada()" class="btn btn-lg btn-primary mx-2">COMPRAR ENTRADA</button>
    <button (click)="anadirAlCarrito()" class="btn btn-lg btn-secondary mx-2">AÑADIR A CARRITO</button>
  </div>
</div>
