.detalle-evento-container {
  margin-top: 20px;
}

.evento-imagen {
  max-height: 400px;
}

.evento-subeventos table {
  width: 100%;
}

.evento-acciones button {
  font-size: 1.2em;
  padding: 10px 20px;
}
