<div class="container">
  <div class="content">
    <h1 class="title">¡Error en el Pago!</h1>
    <p class="message">Lo sentimos, pero tu pago ha fallado. Por favor, revisa tu información y vuelve a intentarlo. Puedes reintentar el pago en tu historial de compras.</p>

    <div class="buttons-container">
      <button class="btn" (click)="navigateToHome()">Seguir Explorando</button>
      <button class="btn" (click)="navigateToPurchaseHistory()">Ver Historial de Compras</button>
    </div>
  </div>
</div>
