/* Contenedor para centrar el componente en la mitad de la pantalla */
.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
}

/* Estilos del componente de usuario */
.user-profile {
  width: 350px;
  max-width: 90%;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.user-profile h2 {
  text-align: center;
}

.profile-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-photo {
  margin-bottom: 20px;
}

.photo-placeholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000;
}

.profile-info {
  width: 100%;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.info-item span {
  font-weight: bold;
}

.edit-profile-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile-button:hover {
  background-color: #0056b3;
}
