<div class="container">
  <div class="content">
    <h1 class="title">¡Pago Pendiente!</h1>
    <p class="message">Tu pago está en espera. La entidad nos a informado que tu pago tiene algo pendiente. Te notificaremos a tu correo si algo cambia. Mientras tanto, puedes ver el historial de compras para verificar el estado de tu pago o seguir explorando otros eventos.</p>

    <div class="buttons-container">
      <button class="btn" (click)="navigateToHome()">Seguir Explorando</button>
      <button class="btn" (click)="navigateToPurchaseHistory()">Ver Historial de Compras</button>
    </div>
  </div>
</div>
