<form [formGroup]="registroForm" (ngSubmit)="registrar()" novalidate="">
  <div class="container">
    <div class="card">
      <div class="card-header p-4">
        <h5 class="mb-0">
          <i class="fa-solid fa-user-plus me-3"></i>Registro de un nuevo cliente
        </h5>
      </div>
      <div class="card-body p-4">
        <form class="row g-3" [formGroup]="registroForm" (ngSubmit)="registrar()">

          <div class="col-6">
            <label class="form-label">Cédula: </label>
            <input type="text" class="form-control" formControlName="cedula" />
          </div>


          <div class="col-6">
            <label class="form-label">Nombre: </label>
            <input type="text" class="form-control" formControlName="nombre" />
          </div>

          <div class="col-6">
            <label class="form-label">apellido: </label>
            <input type="text" class="form-control" formControlName="apellido" />
          </div>

          <div class="col-6">
            <label class="form-label">Email: </label>
            <input type="email" class="form-control" formControlName="email" />
          </div>

          <div class="col-6">
            <label class="form-label">Dirección: </label>
            <input type="text" class="form-control" formControlName="direccion" />
          </div>

          <div class="col-6">
            <label class="form-label">Ciudad: </label>
            <select class="form-control" formControlName="ciudad">
              <option *ngFor="let ciudad of ciudades" [value]="ciudad">
                {{ ciudad }}
              </option>
            </select>
          </div>

          <div formArrayName="telefono">
            <div *ngFor="let tel of telefono.controls; let i=index" class="col-6">
              <label class="form-label">Teléfono {{ i + 1 }}: </label>
              <input type="number" class="form-control" [formControlName]="i" />
              <button type="button" (click)="removeTelefono(i)" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
          <button type="button" (click)="addTelefono()" class="btn btn-primary">Agregar Teléfono</button>


          <div class="col-6">
            <label class="form-label">Contraseña: </label>
            <input type="password" class="form-control" formControlName="contrasena" />
          </div>

          <div class="col-6">
            <label class="form-label">Repetir contraseña: </label>
            <input type="password" class="form-control" formControlName="confirmaPassword" />
          </div>
          @if (registroForm.hasError('passwordsMismatch')) {
          <div class="alert alert-danger" role="alert">Las contraseñas no coinciden</div>
          }


          <div class="col-12 text-center">
            <button type="button" (click)="registrar()" class="btn btn-primary"
              [disabled]="registroForm.invalid || isButtonDisabled">
              <i class="fa-solid fa-plus me-2"></i>Registrarse
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>

</form>
