.profile-image {
  width: 40px; /* O el tamaño que desees */
  height: 40px; /* Aseguramos que la imagen sea cuadrada */
  object-fit: cover; /* Asegura que la imagen se recorte proporcionalmente sin deformarse */
  border-radius: 50%; /* Hace la imagen redonda */
}
