<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-3 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
        <!-- Logo a la izquierda del nombre -->
        <img src="https://firebasestorage.googleapis.com/v0/b/unieventos-d397d.appspot.com/o/imagen_2024-11-09_171149624-removebg-preview.png?alt=media&token=65104311-7bf2-4e3c-9c0e-70576369d927" alt="Logo de UniEventos" class="me-3" width="40" height="32"> <!-- Asegúrate de reemplazar con la ruta correcta -->
        <span class="fs-4">{{ title }}</span>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/eventos" class="nav-link px-2 link-secondary">Ver todos los eventos</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <ng-container *ngIf="isLogger; else loginButtons">
        <div class="dropdown">
          <a href="#" class="d-inline-block" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="usuario?.imageProfile" alt="Foto de perfil" class="rounded-circle profile-image">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li *ngIf="rol === 'ADMINISTRADOR'">
              <a class="dropdown-item" href="/gestion-eventos">Gestión de Eventos</a>
              <a class="dropdown-item" href="/gestion-localidad">Gestionar Localidades</a>
              <a class="dropdown-item" href="/gestion-cupones">Gestionar Cupones</a>
            </li>
            <li><a class="dropdown-item" href="/informacion-usuario">Perfil de Usuario</a></li>
            <li><a class="dropdown-item" href="/historial-compras">Historial de compras</a></li>
            <li><a class="dropdown-item" href="/carrito">Carrito</a></li>
            <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a></li>
          </ul>
        </div>
      </ng-container>

      <ng-template #loginButtons>
        <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-primary" routerLink="/registro">Registro</button>
      </ng-template>
    </div>
  </header>
</div>
