<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <a routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
        <i class="fa-solid fa-ticket fs-3"></i>
        <span class="fs-4 ms-3 me-3">{{ title }}</span>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="" class="nav-link px-2 link-secondary">Inicio</a></li>
      <li><a routerLink="/eventos" class="nav-link px-2">Eventos</a></li>
      <li *ngIf="rol === 'ADMINISTRADOR'"><a routerLink="/gestion-eventos" class="nav-link px-2">Gestión de eventos</a></li>
      <li><a routerLink="" class="nav-link px-2">Historial de eventos</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <!-- Mostrar la imagen de perfil si está logueado -->
      <ng-container *ngIf="isLogger; else loginButtons">
        <a routerLink="/perfil" class="d-inline-block">
          <img [src]="userProfileImage" alt="Foto de perfil" class="rounded-circle profile-image">
        </a>
      </ng-container>

      <!-- Mostrar botones de login y registro si no está logueado -->
      <ng-template #loginButtons>
        <button type="button" routerLink="/login" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" routerLink="/registro" class="btn btn-primary">Registro</button>
      </ng-template>
    </div>
  </header>
</div>
